<form method="POST" enctype="multipart/form-data"  class="mt-5">
    <div class="form-group">
        <label for="inputTitle">Заголовок</label>
        <input type="text"
               value="<%= book.title %>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Описание</label>
        <textarea
                rows="3"
                name="description"
                class="form-control"
                id="inputDesc"
        ><%= book.description %></textarea>
    </div>
    <div class="form-group">
        <label for="inputAuthors">Авторы</label>
        <textarea
                rows="3"
                name="authors"
                class="form-control"
                id="inputAuthors"
        ><%= book.authors %></textarea>
    </div>
    
    <div class="form-group">
        <img src="/<%= book.fileCover %>" class="img-fluid" alt="cover"/>
        <label for="inputImage">Обложка</label>
        <input  
            type="file"
            rows="3"
            name="image-cover"
            class="form-control"
            id="inputImage"/>
    </div>

    <div class="form-group">
        <p>fileName: <%= book.fileName %></p>
        <label for="inputFile">File</label>
        <input 
            type="file"
            rows="3"
            name="book-pdf"
            class="form-control"
            id="inputFile"/>
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
